@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";


:root {
  --foreground-rgb: 55, 65, 81;
  --background-start-rgb: 240, 245, 250;
  --background-end-rgb: 225, 235, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    fixed;
  min-height: 100vh;
}

/* For better card contrast */
.card {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
